<div class="new-grade">
  <h3>
    <%= t('.my_grades') %>
  </h3>

  <div class="container">
    <div class="col-sm-5">
      <h3>
        <%= t('.add_new_grade') %>
      </h3>
      <%= simple_form_for @grade do |f| %>
        <%= f.input :grade_value, as: :string, label: false, input_html: {autocomplete: 'off'},
                    placeholder: t('.grade_text_field') %>
        <%= f.input :lecture, label: false, input_html: {autocomplete: 'off'},
                    placeholder: t('.lecture_text_field') %>
        <%= f.error :grade_value %>
        <%= f.error :lecture %>
        <%= f.submit t('.save_grade_button'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>