<div class="all-grades">
  <h1>
    <%= t('.grades') %>
  </h1>

  <div class="container">
    <table class="table table-hover gradeTable">
      <thead>
      <tr>
        <th> <%= t('.thead_grade') %> </th>
        <th> <%= t('.thead_lecture') %> </th>
      </tr>
      </thead>

      <tbody>
      <% if !@grades.blank? %>
        <% @grades.each do |book| %>
          <tr>
            <td> <%= book.grade_value %> </td>
            <td> <%= book.lecture %> </td>
            <td> <%= link_to t('.remove_grade'), book, method: :delete,
                             data: {confirm: t('.remove_grade_confirmation')} %> </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>