<h1>Create</h1>

<table>
  <tr>
    <th>von - bis</th>
    <th><%= t('weekday.monday') %></th>
    <th><%= t('weekday.tuesday') %></th>
    <th><%= t('weekday.wednesday') %></th>
    <th><%= t('weekday.thursday') %></th>
    <th><%= t('weekday.friday') %></th>
    <th><%= t('weekday.saturday') %></th>
  </tr>
  <tr>
    <td><textarea>1. Stunde</textarea></td>
    <td><textarea></textarea></td>
    <td><textarea></textarea></td>
    <td><textarea></textarea></td>
    <td><textarea></textarea></td>
    <td><textarea></textarea></td>
    <td><textarea></textarea></td>
  </tr>
</table>