<h1 class="front-heading"><%= t('application_name') %></h1>

<div class="front-img-div">
  <img class="front-img" src="<%= asset_path('front-img') %>"/>
</div>

<ul class="feature-list">
  <li><h2><%= t('features.timetable') %></h2></li>
  <li><h2><%= t('features.grade') %></h2></li>
  <li><h2><%= t('features.event') %></h2></li>
</ul>