<%= button_to t('events.new_event'), new_events_path, method: :get, :class => 'btn btn-success btn-new-event' %>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th> <%= t('events.date_from') %> </th>
      <th> <%= t('events.date_to') %> </th>
      <th> <%= t('events.title') %> </th>
      <th> <%= t('events.place') %> </th>
    </tr>
    </thead>

    <tbody>
    <% if !@events.blank? %>
      <% for item in @events %>
        <tr>
          <td> <%= item.date_from %> </td>
          <td> <%= item.date_to %> </td>
          <td> <%= item.title %> </td>
          <td> <%= item.place %> </td>

        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
