<!DOCTYPE html>
<html>
<head>
  <title>StudiumPlaner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-light bg-light navbar-inverse">
  <a class="navbar-brand link-item" href="/">
    Home
  </a>

  <%= link_to (t '.time_table'), time_tables_path, method: :get, :class => "navbar-brand link-item" %>

  <%= link_to (t '.grades'), grades_path, method: :get, :class => "navbar-brand link-item" %>

  <%= link_to (t '.events'), events_path, method: :get, :class => "navbar-brand link-item" %>

  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "navbar-brand pull-right link-item" %>
    <a class="navbar-brand pull-right" href=<%= edit_user_registration_path %>>
      <%= image_tag('Bildschirmfoto von »2017-12-04 11-51-16«.png') %>
    </a>
  <% end %>

  <% if user_signed_in? == false %>
    <%= link_to 'Login', new_user_session_path, method: :get, :class => "navbar-brand pull-right link-item" %>
  <% end %>
</nav>


<div class="container-fluid">
  <div class="row">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>
  </div>
</div>
<%= yield %>


<footer class="footer">
  <div class="container footer-container">
    <div class="footer-text footer-text-rigth">
      <%= link_to t('.english'), locales_path(locale: :en), method: :patch %>
      /
      <%= link_to t('.german'), locales_path(locale: :de), method: :patch %>
    </div>
  </div>
</footer>


</body>
</html>
